
.right-top{
    line-height: 10px;
    width:auto;
    font-size:large;
    font-family: tahoma;
    margin-top: 50px;
    margin-right: 50px;
    position:fixed;
    top:0;
    right:0;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button1:hover span {
    padding-right: 40px;
}
.button2:hover span {
    padding-right: 40px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.softLogo{
    width: 80%;
    height: 80%;
}