@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

.slide-up {
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: black;
    background: #e7ff1b;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 80px;
    transition: all .3s ease-in-out;
}
.slide-up::-webkit-input-placeholder,
.slide-up :-ms-input-placeholder,
.slide-up ::-moz-placeholder,
.slide-up::-moz-placeholder
{
    color: black;
    text-indent: 0;
    font-weight: 300;
    opacity: 1;
}

.slide-up + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.75);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;

}
.slide-up + label:before, .slide-up + label:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}
.slide-up + label:before {
    top: 6px;
    left: 5px;
    right: 5px;
    bottom: 6px;
    background: #00b3ee;
}
.slide-up + label:after {
    top: 0;
    bottom: 0;
    background: #00b3ee;
}

span:nth-child(1) .slide-up {
    text-indent: 105px;
}

span:nth-child(3) .slide-up {
    text-indent: 125px;
}

span:nth-child(1) .slide-up:focus,
span:nth-child(1) .slide-up:active,
span:nth-child(3) .slide-up:focus,
span:nth-child(3) .slide-up:active {
    text-indent: 0;
}

.slide-up:focus,
.slide-up:active {
    color: #00b3ee;
    text-indent: 0;
    background: #fff;
    border: 2px solid #1a8bb9;
}
.slide-up:focus::-webkit-input-placeholder,
.slide-up:active::-webkit-input-placeholder {
    color: #aaa;
}
.slide-up:focus + label,
.slide-up:active + label {
    transform: translateY(-100%);
}
.slide-up:focus + label:before,
.slide-up:active + label:before {
    border-radius: 5px;
}
.slide-up:focus + label:after,
.slide-up:active + label:after {
    transform: translateY(100%);
}