.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 10%;
    bottom: 0;
    right: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s

}

/* Modal Content */
.modal-content {
    position: absolute;
    left: 15%;
    top: 15%;
    background-color: #fefefe;
    width: 80%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    padding: 5px;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bolder;
    border: 3px solid black;
    border-radius: 30px;
    background-color: #1c94c4;
    margin-top: 3px;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    -webkit-transform: rotate(360deg) scale(1.10);
    -moz-transform: rotate(360deg) scale(1.10);
    -ms-transform: rotate(360deg) scale(1.10);
    -o-transform: rotate(360deg) scale(1.10);
    transform: rotate(360deg) scale(1.10);
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -ms-transition: -ms-transform 600ms;
    -o-transition: -o-transform 600ms;
    transition: transform 600ms;
    background-color: white;
}

.modal-header {
    padding: 2px 16px;
    background-color: #84ffff;
    color: black;
    text-align: center;
    font-weight: bold;
}

.modal-body {
    margin: auto;
    width: 50%;
    padding: 2px 16px;
}


.modal-footer {
    padding: 2px 16px;
    background-color: #84ffff;
    color: black;
    font-weight: bold;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {top:20%; opacity: 0}
    to {top:60%; opacity: 1}
}

@keyframes slideIn {
    from {top:20%; opacity: 0}
    to {top:60%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}


@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}


/*@media screen and (min-width: 768px) {
    .modal-content {
        width: 700px; !* New width for default modal *!
    }
    .modal-content{
        width: 350px; !* New width for small modal *!
    }
}
@media screen and (min-width: 992px) {
    .modal-content {
        width: 950px; !* New width for large modal *!
    }
}*/
#cancelButton{
    color: black;
}
